<div class="howTo">
    <div class="container">
        <div class="step1">
            <img width=250 height=250 src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut id delectus consequatur ullam sunt expedita repudiandae, sapiente obcaecati voluptatem recusandae ducimus distinctio ab exercitationem consequuntur nostrum molestias nemo reiciendis
                unde.
            </p>
        </div>
        <div class="step2">
            <img width=250 height=250 src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut id delectus consequatur ullam sunt expedita repudiandae, sapiente obcaecati voluptatem recusandae ducimus distinctio ab exercitationem consequuntur nostrum molestias nemo reiciendis
                unde.
            </p>
        </div>
        <div class="step3">
            <img width=250 height=250 src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut id delectus consequatur ullam sunt expedita repudiandae, sapiente obcaecati voluptatem recusandae ducimus distinctio ab exercitationem consequuntur nostrum molestias nemo reiciendis
                unde.
            </p>
        </div>
    </div>
</div>