<div [class.tracker]='content.path() === "/tracker"' [class.home]='content.path() !== "/tracker"' class="body">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="churroDiv">
        <div *ngIf="content.path() !== '/tracker'" class="content">
            <span #whyAnchor id="whyAnchor" class="anchor"></span>
            <app-why id="why"></app-why>
            <span class="anchor" id="howToAnchor"></span>
            <app-how-to id="howTo"></app-how-to>
        </div>
        <app-footer></app-footer>
    </div>
</div>