<div class="container">
    <div class="row">
        <div class="newItem col-md-6 col-sm-12">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input" #url aria-describedby="help" placeholder="URL">
                    <small [ngClass]="{true: 'text-danger', false: 'text-muted'}[errorUrl]" id="helpUrl" class="form-text">{{ urlText }}</small>
                    <input type="text" #nombre class="form-control input" aria-describedby="help" placeholder="Nombre">
                    <small [ngClass]="{true: 'text-danger', false: 'text-muted'}[errorName]" id="helpName" class="form-text">{{ help }}</small>
                </div>

                <button id="submit" type="button" (click)="getPriceTag(url.value, nombre.value)" class="btn btn-outline-dark">Empezar a seguir</button>
            </form>
        </div>
        <div class="itemList col-md-6 col-sm-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-id" scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio actual</th>
                            <th scope="col">Precio más bajo</th>
                            <th scope="col">Precio más alto</th>
                            <th class="col-delete" scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td (click)='getChart(item.url)' class="itemName"><a [href]='item.url'>{{item.name}}</a></td>
                            <td (click)='getChart(item.url)'>{{ item.currentPrice }}</td>
                            <td (click)='getChart(item.url)'>{{ item.minPrice }}</td>
                            <td (click)='getChart(item.url)'>{{ item.maxPrice }}</td>
                            <td (click)='getChart(item.url)' class="delete"><i (click)="deleteItem(item.name)" class="fas fa-times cross"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="chart-container col-sm-12 my-5">
            <canvas id="myCanvas">{{ chart }}</canvas>
        </div>
    </div>
</div>