<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-brand" [ngClass]="{true: 'text-dark'}[content.path() === '/tracker']" (click)="scrollToTop()" [routerLink]="['/home']">{{ title }}</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <div *ngIf="content.path() != '/tracker'" class="ifNotTracker">
                <li class="nav-item">
                    <button class="nav-link" (click)="scrollToWhy()">¿Por qué?</button>
                </li>
                <li class="nav-item separator">
                    <button class="nav-link" (click)="scrollToHowTo()">Como empezar</button>
                </li>
                <div class="dropdown-divider"></div>
            </div>
            <div class="user">
                <li *ngIf="!auth.isAuthenticated()" class="nav-item">
                    <a class="nav-link" (click)="login()">Iniciar sesión</a>
                </li>
                <li *ngIf="auth.isAuthenticated()" class="nav-item">
                    <a [ngClass]="{true: 'text-dark'}[content.path() === '/tracker']" routerLink="/tracker" class="nav-link">Tracker</a>
                    <a [ngClass]="{true: 'text-dark'}[content.path() === '/tracker']" (click)="salir()" class="nav-link">Cerrar sesión</a>
                </li>
            </div>
        </ul>
    </div>
</nav>