<footer id="footer">
    <div class="social">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square "></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <h2 class="text-center">Información de contacto</h2>
    <hr class="divider">
    <div class="info">
        <div class="phone">
            <i class="fas fa-phone"></i>
            <hr class="divider">
            <p>618 589127</p>
        </div>
        <div class="email">
            <i class="fas fa-envelope"></i>
            <hr class="divider">
            <p>se.lopezperez@gmail.com</p>
        </div>
    </div>
    <div class="copyright text-center">
        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} - Sergio López Pérez</p>
    </div>
</footer>